@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F4F4F4;
}

.menu{
    position: relative;
    left: 11em;
    display: flex;
    gap: 30px;
}


  .btnPrincipal {
    background-image: linear-gradient(to right, #FE66B1, #E55EA1, #CD0067, #98004B);
    width: 7em;
    height: 2.5em;
    border: none;
    font-weight: 600;
    color: white;
    border-radius: 15px;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none; /* Removes the underline */
  }
  .btnPrincipal:hover{
    color: black;
  }
  
  a.btnPrincipal {
    text-decoration: none; /* Removes underline from links with this class */
  }
  
.btnSec{
    border: #98004B solid 1px;
    width: 7em;
    background-color: transparent;
    height: 2.5em;
    font-weight: 600;
    color: #3F3F3F;
    border-radius: 15px;
} 

.btnSec:hover{
  background-image: linear-gradient(to right, #FE66B1, #E55EA1, #CD0067, #98004B);
  border: none;
  color: white;
}

.btnSecDesc, .btnPrincipalDesc{
    width: 11em;
}

.botoes{
    gap: 15px;
}

.titleInicio{
    font-weight: 900;
    color: black;
}

.titleInicio span{
 position: relative;
 right: 10%;
}
.titulosInicio1 {
    margin-top: 10em; 
    display: flex;
    flex-direction: column;
   
  }

  .elementosInicio{
    margin-top: 4em;
    display: flex;
    gap: 12em;
  }

/* Adicione este bloco ao final do seu arquivo CSS */

@media (max-width: 780px) {
  .container {
    margin-top: 0em; /* Ajuste conforme necessário */
  }

  .titulosInicio1 {
    margin-top: 0; /* Ajuste a margem superior para centralizar os elementos conforme desejado */
  }

  .elementosInicio {
    gap: 2em; /* Ajuste o gap conforme necessário para uma melhor visualização */
    flex-direction: column; /* Altere a direção do flex para coluna se necessário */
  }
  .titleInicio span{
    position: relative;
    right: 0%;
   }
}

@media (max-width: 1200px) {
  .imagemBaixo-container {
    margin-top: 150px; /* Ajuste o valor conforme necessário */
  }
}

