@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.menu{
    position: relative;
    left: 11em;
    display: flex;
    gap: 30px;
}